* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  .column {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .bol-2 {
    flex-basis: 50%;
    min-width: 300px;
    padding: 10px;
  }
  
  .bol-2 img {
    max-width: 100%;
    padding: 50px 0;
  }
  
  .bol-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
  }
  
  .btn {
    display: inline-block;
    background: #ff523b;
    color: #ffffff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    text-decoration: none; /* Ensure the button text is not underlined */
  }
  
  .btn:hover {
    background: #563434;
  }
  
  .home-container {
    max-width: 1200px;
    margin: 0 auto; /* Center the container */
    padding: 20px;
    text-align: left;

  }
  
  