.homepage {
	display: flex;
	align-items: center;
	gap: 3rem;
	margin-top: 3rem;
	margin-inline: auto;
	font-family: "Poppins", sans-serif;
	font-size: 1.5rem;
	max-width: 1000px;

	& .col {
		flex: 1 1 0;
	}

	& .call-to-action {
		text-wrap-style: balance;
	}
}